# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env
.env.local
.env.dev.local
.env.development.local
.env.test.local
.env.prod.local
.env.production.local

# Local Netlify folder
.netlify