@import "./tailwind";
@import "./composites";

/* purgecss start ignore */
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* purgecss end ignore */

img {
    max-width: 100%;
    display: block;
}

a {
    transition: all 0.24s;

    &.button {
        @apply .no-underline .px-4 .py-2 .rounded .text-black;

        &.on-dark {
            @apply .bg-blue-600 .text-blue-100;

            &:hover {
                background: hsl(209, 62, 45);
            }
        }
    }
}
